*{
    margin:0;
    padding:0;
    font-family: "Merriweather", serif;
}
.banner{
    max-width: 960px;
    height: 280px;
    margin: auto;
    text-align: center;
    margin-top: 20px;

}
.banner-content{
    width: 960px;
    background-image: url("/images/Banner\ Image.png");
    background-position:center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    padding:100px 0;
    color:#fff;
    position: relative;
    border-radius: 10px;
    z-index: 0;
}
.banner-content::after{
    content: "";
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(41, 37, 37, 0.6);
    z-index: -1;
}
.banner-content h2{
    font-size: 65px;
    font-weight:400;
}
.banner-content h4{
    margin-bottom: 10px;
    font-weight: 400;
    font-size:24px;
}