*{
    margin:0;
    padding:0;
    font-family: "Merriweather", serif;
}
main{
    max-width: 960px;
    margin: auto;
}
/* Banner-Section */
.banner{
    max-width: 960px;
    margin: auto;
    text-align: center;
    margin-top: 20px;

}
.banner-content{
    width: 960px;
    background-image: url("/images/Banner\ Image.png");
    background-position:center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    padding:100px 0;
    color:#fff;
    position: relative;
    border-radius: 10px;
    z-index: 0;
}
.banner-content::after{
    content: "";
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(41, 37, 37, 0.6);
    z-index: -1;
}
.banner-content h2{
    font-size: 65px;
    font-weight:400;
}
.banner-content h4{
    margin-bottom: 10px;
    font-weight: 400;
    font-size:24px;
}
/* Start Discount Section */
.discount-section{
    margin-top: 80px;
    margin-bottom: 80px;
}
.discount-container{
    text-align: center;
}
.discount-container h2{
    font-size: 80px;
    font-weight: 800;
    color:red;
    margin-bottom: 30px;
}
.discount-container h4{
    font-size: 22px;
    font-weight: 500;
    color:red;
    margin-bottom: 10px;
}
.discount-container h3{
    font-size:48px;
    font-weight: bold;
    margin-bottom: 50px;
}
.discount-container img{
    width: 600px;
}